@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto&display=swap');
/* usedcolor */
:root{
    --mainbgc:rgb(230, 199, 219);
    --rgtbgc:rgb(255, 9, 9);
    --lftbgc:white;
    --lfth2:black;
    --lftc:rgba(158, 154, 154, 0.933);
    --bttmbgc:rgb(255, 72, 0);
    --rgtcl:white;
    --inpbck:rgb(204, 203, 203);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--mainbgc);
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
}
.login{
    background-color: var(--lftbgc);
    color: var(--lftc);
    padding: 50px;
    width: 400px;
    
}
.login h2{
    color: var(--lfth2);
    text-align: center;
    font-size: 2em;
    padding-bottom: 45px;
}
.media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.media i { 
    background-color: var(--lftbgc);
    color: #000;
    border: 1px solid rgb(172, 169, 169);
    border-radius: 50%;
    font-size: 2em;
    width: 50px;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}
p{
    text-align: center;
    font-size: 1.2em;
    margin-bottom:5px; ;
}
form input{
    width: 100%;
    background-color: var(--inpbck);
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
}
input:focus{
    outline: none;
}
a {
    text-decoration: none;
    color: var(--lftc);
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.button{
 display: flex;
 justify-content: center;
 align-items: center;

}
.button button{
    background-color: var(--bttmbgc);
    width: 150px;
    height: 40px;
    border-radius: 45px;
}
.about{
    width: 400px;
    height: inherit;
    background-color: var(--rgtbgc);
    color: var(--rgtcl);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.data h2{
    font-size: 2.1em;
    margin-bottom: 30px;

}